:root {
  --black: #000;
  --white: #FFF;
  --light-aqua: #D6F9FC;
  --purple: #A5B4FC;
  --medium-purple: #4F46E5;
  --dark-purple: #4338CA;
  --light-purple: #EEF2FF;
  --light-gray: #F3F4F6;
  --gray: #D1D5DB;
  --medium-gray: #777777;
  --main-bg-color: var(--white);
  --main-border-color: var(--light-gray);
  --main-text-color: var(--black);
  --container--size: 1440px;
}

@media screen and (min-width: 1025px) {
  :root {
    --header-size: 94px;
    --logo-size: 173px;
    --book-item-size: calc(100% / 3 - 2rem);
    --heading-1-size: 64px;
    --heading-2-size: 56px;
    --paragraph-size: 24px;
    --copy-size: 1rem;
    --form-controls-size: auto;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --header-size: 70px;
    --logo-size: 125px;
    --book-item-size: calc(100% / 2 - 2rem);
    --heading-1-size: 40px;
    --heading-2-size: 32px;
    --paragraph-size: 16px;
    --copy-size: .85rem;
    --form-controls-size: 100%;
  }
}

@media screen and (max-width: 795px) {
  :root {
    --book-item-size: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-display: auto;
  font-family: 'Inter', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-overflow-scrolling: touch;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: var(--heading-1-size);
}

h2 {
  font-size: var(--heading-2-size);
}

a {
  font-weight: semibold;
  margin-left: 1rem;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

a:visited {
  filter: saturate(100);
}

a:active {
  filter: brightness(.9);
}

p {
  font-size: var(--paragraph-size);
}

img {
  height: auto;
  max-width: 100%;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

small {
  font-size: 100%;
}

input {
  border: 1px solid var(--gray);
  border-radius: .5rem;
  font-size: 1rem;
  height: 52px;
  margin: .5rem;
  padding: 1rem 2rem;
  width: var(--form-controls-size);
}

input::placeholder {
  color: var(--medium-gray);
}

input::focus {
  border-color: var(--purple);
}

main {
  padding-top: var(--header-size);
}

.button {
  border: 0;
  background-color: var(--medium-purple);
  border-radius: .25rem;
  color: var(--main-bg-color);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding: 1rem 3rem;
}

/** HEADER **/

.header {
  background: rgba(255,255,255,.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: var(--header-size);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  max-width: var(--container--size);
  padding: 1rem 1.5rem;
}

.header__logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: var(--logo-size);
}

.header__link,
.header__logo {
  -webkit-transition: opacity .2s linear;
  transition: opacity .25s linear;
}

.header__logo:hover {
  opacity: .75;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
}

.header__link {
  color: var(--black);
  font-size: var(--copy-size);
}

.header__link:hover {
  opacity: .55;
}

/** HERO **/

.hero {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--light-aqua);
  border-radius: 24px;
  margin: 0 auto;
  max-width: var(--container--size);
  overflow: hidden;
  padding: 5rem 14% 0;
  text-align: center;
  width: calc(100% - 48px);
}

.hero__slider {
  position: relative;
  height: 160px;
  margin-top: 7rem;
  width: 300px;
}

.hero__slider::before,
.hero__slider::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.hero__slider::before {
  background-image: url("../assets/icons/dots.svg");
  background-size: contain;
  height: 100px;
  left: 0;
  width: 100px;
}

.hero__slider::after {
  background-image: url("../assets/icons/circle.svg");
  background-size: contain;
  background-position: bottom left;
  bottom: 0;
  right: 0;
  height: 160px;
  width: 100%;
}

.hero__image {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform: translateY(50%);
  width: 90%;
}

.hero__image--one {
  animation-name: heroImageOne;
  z-index: 1;
}

.hero__image--two {
  animation-name: heroImageTwo;
  z-index: 2;
}

.hero__image--three {
  animation-name: heroImageThree;
  z-index: 3;
}

.hero__image--four {
  animation-name: heroImageFour;
  z-index: 4;
}

/** BOOKS **/

.books {
  padding-top: var(--header-size);
  padding-left: .5rem;
  padding-right: .5rem;
}

.books__container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--container--size) + 2rem);
}

.books__title {
  text-align: center;
}

.books__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 80px;
}

.books__item {
  margin: 0 1rem 2rem;
  max-width: var(--book-item-size);
  width: 100%;
}

.books__card {
  border-radius: 24px;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: background-color .25s linear;
}

.books__card:hover,
.books__cover {
  background-color: var(--light-gray);
}

.books__cover {
  border-radius: 24px;
  height: 75%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.books__badge {
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.10);
  padding: 1rem 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 991;
}

.books__sale {
  color: var(--black);
  font-size: 24px;
}

.books__price {
  color: var(--medium-gray);
  font-size: 16px;
  font-weight: bold;
  text-decoration: line-through;
  transition: font-size .25s linear;
  transform-origin: right center;
}

.books__preview {
  transform: translateY(35%) scale(.9);
  transition: transform .25s linear;
  max-width: 60%;
}

.books__card:hover .books__preview {
  transform: translateY(0) scale(.9);
}

.books__card:hover .books__name {
  color: var(--medium-purple);
}

.books__card:hover .books__content {
  transform: translateX(1rem);
}

.books__card:hover .books__price {
  font-size: 0;
}

.books__content {
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  transition: transform .25s linear;
}

.books__name {
  font-weight: bold;
  font-size: 24px;
}

.books__author {
  font-size: 16px;
  margin: .5rem 0 1rem;
}

/** SUBSCRIBE **/

.subscribe {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-purple);
  border-radius: 24px;
  margin-top: var(--header-size);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container--size);
  padding: 10% 4rem;
  text-align: center;
  width: calc(100% - 48px);
}

.subscribe__form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 1rem;
}

.subscribe__button {
  margin: .5rem;
  width: var(--form-controls-size);
}

/** FOOTER **/

.footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 1.5rem;
  max-width: var(--container--size);
}

.footer,
.footer__nav,
.footer__button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
}

.footer__text {
  font-size: var(--copy-size);
}

.footer__button {
  border-radius: .5rem;
  padding: 1rem;
  transition: background-color .25s linear;
}

.footer__button:not(:hover) {
  background-color: var(--light-gray);
}

.footer__button:hover .footer__icon {
  transform: scale(1.5);
}

.footer__icon {
  transition: transform .25s linear;
}

/** ANIMATION **/

@keyframes heroImageOne {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroImageTwo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heroImageThree {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heroImageFour {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes heroImageOne {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heroImageTwo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes heroImageThree {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes heroImageFour {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
